.main-grid{

display: grid;
grid-template-columns: 1fr,1fr;
row-gap: 10px;
column-gap: 10px;


}
.first-row{

background-color: black;
grid-column: 1/2;
width: 100%;
height: 80px;

}
.second-row{
display: flex;
width: 100%;
height: 400px;
column-gap: 10px;



}
.first-col{
background-color: blue;
color: blue;
    
    width: 50%;
}
.second-col{ background-color: yellow;
   width: 50%; 
   color: yellow;

}
.third-row{


    background-color: red;
grid-column: 1/2;
width: 100%;
height: 80px;
}