* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f0b569;
}
.page-flex{

    display: flex;;
    
    flex-direction: column;
    
}
.header{
    height: 200px;
    background-color: #8B441F;
    text-align: center;
   
    

}
.header p{     background-color: #8B441F;

    color: black;
    font-weight: bold;
   margin-top: 5%;
   font-size: 40px;
}
.nav-bar{
    height: 75px;
    background-color: f0b569;
    display: flex;
   
  
    
justify-content: center;   
margin-right: 1%; 
}
.nav-bar button{
    border: none;
    margin: 1%;
    color: green;
    font-weight: bold;
    font-size: 16px;

}
.content p{color: #8B441F;}
