

body{

display: flex;
justify-content: center;
align-items: center;
height: 100vh;
width: 180vh;


}
.form-body{
background-color: rgb(0, 191, 255);
display: flex;
flex-direction: column;
align-items: center;
width: 700px;
padding: 2%;
border-radius: 10px;

}
h3{
    color: white;
    font-size: 25px;
}
.form-body input,textarea{

    width: 90%;
    margin-bottom: 5px;
    height: 25px;
    border: none;
    border-radius: 5px;

}
.form-body textarea{
 width: 100%;       
    max-width: 90%;    
    min-width: 200px;  
    height: 150px;
    border-radius: 5px;

}
.form-submit {
    align-self: flex-start;
    margin-left: 25px;

}
.form-submit button{

    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}