

body{
    background-color: rgb(236, 136, 153);
}
.page-layout{
display: flex;
flex-direction: column;
height: 450;
row-gap: 30px;



}
.second-row{

display: flex;
flex-direction: row;
column-gap: 10px;
max-width: 50%;
max-height: 150px;


}
.second-par,.first-par,.third-par{
    background-color: white;
    overflow: hidden;
    
}
.third-row{

height: 50px;
overflow: scroll;
overflow-x: hidden;
border: 3px solid black;
border-left: none;
border-right: none;
font-weight: 900;
font-size: 15px;
padding: 4px;

}

.fourth-row{


display: flex;
flex-direction: row;
column-gap: 10px;
max-width: 34%;
max-height: 150px;

}

