
body{
    
}
.full-page{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 5px;
    row-gap: 5px;
    align-content: stretch;
}
.full-page img{

object-fit: cover;
width: 100%;
height: 100%;

}